
<div class="column ">
    <nav class="panel">
        <p class="panel-heading">Trends</p>
        <% @tagg.each do |tag| %>
         <div class="panel-block is-active"> 
         <article class ="media">
            <div class="media-content">
                <p>
                    <strong>
                      <%= link_to "# #{tag.name}" , "/tweets/hashtag/#{tag.name}"%>  
                    
                    </strong>
                </p>
            </div>
         </article>
         </div>  
        <% end %>
    </nav>
</div>